<a href="https://colab.research.google.com/github/NKASG/Machine-Learning-Methods/blob/main/Housing_data_using_D_T_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn import model_selection

In [ ]:
data_1 = pd.read_csv('/content/sample_data/california_housing_test.csv')
data_2 = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
data = pd.concat([data_1, data_2], axis=0)

In [ ]:
label = data['median_house_value']

In [ ]:
data.drop(labels= 'median_house_value', axis= 1 , inplace=True )

In [ ]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375

In [ ]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(data,label, test_size=0.2,train_size=0.8)

In [ ]:
X_train.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
dtype: object

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree

In [36]:
model = DecisionTreeRegressor(max_depth=5)

In [14]:
X_train_1 = X_train.values
X_test_1 = X_test.values
y_train_1 = y_train.values
y_test_1 = y_test.values

In [25]:
X_train_1 = np.int64(X_train_1)
X_test_1 = np.int64(X_test_1)
y_train_1 = np.int64(y_train_1)
y_test_1 = np.int64(y_test_1)

In [33]:
model.fit(X_train_1 , y_train_1)

DecisionTreeRegressor(max_depth=3)

In [34]:
y =model.predict(X_test_1)

In [40]:
#from sklearn.metrics import confusion_matrix  
#cm= confusion_matrix(y_test_1 , y) 
#cm

In [28]:
from sklearn.metrics import r2_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [37]:
r2_score(y_test_1 , y)

0.49666184820715253